
.main
    margin-top: 2rem
    text-align: center
    margin: auto

.heading
    padding: 1.5rem 0

.image
    width: 20rem
    height: 25rem

.projectName

.projectMore
    display: none

.projectName
    font-size: 1.5rem
    padding: 1rem 0

.container
    // border: 2px solid white
    border-radius: 10px
    color: #000
    padding: 3rem
    background: linear-gradient(90deg, #f1f1f1 0%, rgba(224,226,238,1) 100%)
    margin: 1.5rem 0
    margin-right: .5rem
    text-align: center
    &:hover
        .projectMore
            display: block

.containerView

.lighter
    font-size: 1rem
    color: grey
    padding: 0.3rem 0

.darker
    font-size: 1.2rem
    padding: 0.3rem 0
    color: #133c5f

.calendarIcon
    width: 1rem
    height: 1rem
    margin-right: .5rem
    color: #ff8111

@media screen and ( max-width: 1255px )
    .heading
        text-align: center
    .container
        margin: 1.5rem
        margin-left: 1.5rem
