// $background: #E8EAEF
$background: #fff

*
    margin: 0
    padding: 0

body
    font-family: 'Roboto', sans-serif
    background-color: $background

.main
    display: flex
    flex-direction: row

@media screen and ( max-width: 1255px  )
    .main
        display: block
