.aboutView
    display: flex
    flex-direction: row
    justify-content: space-evenly
    margin: 5rem auto
    width: 90%

.downloadIcon
    font-size: 1rem
    padding: 0 6px
.aboutText
    text-align: justify
    padding-left: 3rem
    line-height: 1.3rem
    h2
        font-size: 1rem
        padding: 1rem 0
    p
        color: #000
        padding: 1rem 0
        font-size: .95rem
.button
    border: none
    border-radius: 1rem
    width: 10rem
    height: 2.3rem
    color: #fff
    cursor: pointer

.buttonOne
    @extend .button
    background-color: #ff8111

.buttonTwo
    @extend .button
    background-color: purple
    padding: 0 0.4rem
    
.buttonTwoLink
    color: #ffffff
    text-decoration: none

@media screen and ( max-width: 800px )
    .aboutView
        display: flex
        flex-direction: column
        text-align: center
        width: 100%
        // text-overflow: break-word
    .aboutImage
        width: 80%
        margin: 0 auto
    .aboutText
        text-align: center
        h2
            font-size: 1rem
    .button
        margin-top: 2rem
